<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="../assets/IMGinfotec.png" alt="" height="130px" >
      <a class="navbar-brand" href="https://www.infotec.mx/">  Centro de Investigación INFOTEC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Acera de Infotec</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Mi Perfil</a>
          </li>
          
        </ul>
        <div class="button-container">
          <button id="button" type="button" class="btn btn-primary btn-lg " (click)="logout()"  >Logout</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Prueba Técnica</h5>
          <img src="../assets/pruebaP" alt="" width="300px" height="250px">
          <p class="card-text">Empieza el tests para conocer tus habilidades en tu rama.</p>
          <button class="btn btn-primary"  routerLink="/testt" >Realiza Test</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Prueba psicométrica</h5>
          <img src="../assets/pruebaT.jpg" alt="" width="300px" height="250px">
          <p class="card-text">¿Te conoces a ti mismo? .</p>
          <button class="btn btn-primary"  routerLink="/alertp">Realiza Test</button>
        </div>
      </div>
    </div>
  </div>
        <div class="col">
        <ul class="list-inline text-end"> <h5>Síguenos en redes sociales:</h5>
            <li class="list-inline-item">
            <a href="https://twitter.com/InfotecMexico" target="_blank" >
                <i class="bi bi-twitter" ></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://www.facebook.com/INFOTECMexico" target="_blank">
                <i class="bi bi-facebook bi-lg"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://www.youtube.com/user/InfotecMexico/videos" target="_blank">
                <i class="bi bi-youtube bi-3x"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/infotec-mexico/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
            </li>
        </ul>
        </div>