<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="../assets/IMGinfotec.png" alt="" height="130px" >
          <a class="navbar-brand" href="https://www.infotec.mx/">  Centro de Investigación INFOTEC</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" href="/inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">Acera de Infotec</a>
              </li>
            </ul>
            <div class="button-container">
              <button id="button" type="button" class="btn btn-primary btn-lg " routerLink="/login"  >Iniciar sesión</button>
              <button id="button" type="button" class="btn btn-secondary btn-lg" routerLink="/registro"  >Registrarte</button>
            </div>
          </div>
        </div>
      </nav>
</div>
<div class="container">
  <h1>Historia INFOTEC</h1>
  <div class="row">
    <div class="col-md-6">
      <h4>Nuestra historia</h4>
      <h5>2 Junio 1974 — 30 Noviembre 1974</h5>
      <br>
      <p>Nos establecemos como fideicomiso público del Conacyt, dando servicios de información, documentación y biblioteca, compartiendo información sobre novedades para la modernización de la industria, destacando las patentes, diseño y prototipos en el denominado boletín mensual de noticias técnicas.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria1.png" alt="Imagen 1" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria2.png" alt="Imagen 2" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> ARPANET</h4>
      <h5> 12 Enero 1980 — 12 Enero 2012</h5>
      <br>
      <p>Red ARPANET (Advanced Research Project Agency Network) que es el antecesor de lo que ahora conocemos como Internet, permitió el desarrollo de las comunicaciones al establecer un protocolo o estándar de comunicación. Esta red fue la base tecnológica para que el Infotec planteara el desarrollo de Internet en México en 1994, cuando incorporó a sus servicios la Red Tecnológica Nacional (RTN).</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4>AUTOSUFICIENCIA </h4>
      <h5> 1 Noviembre 1990</h5>
      <br>
     <P>A través de nuestros proyectos, apoyamos al gobierno en el uso de las tecnologías, desarrollando una competencia para entregar información y servicios públicos a través del internet.</P>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria3.png" alt="Imagen 3" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria4.png" alt="Imagen 4" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Primera red de internet en México</h4>
      <h5>16 Noviembre 1994 </h5>
      <br>
      <p>Nos encargamos de la administración y evolución de la Red Tecnológica Nacional (RTN), la primera red de internet en México.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4>Centro de Servicios de Tecnologías de Internet </h4>
      <h5> 1 Diciembre 1999</h5>
      <br>
      <p>Nos transformamos en un centro de servicios de tecnologías de internet. Diseñamos y desarrollamos COMPRANET, el primer sistema latinoamericano de adquisiciones del gobierno, con el que la Secretaría de la Función Pública recibió el premio Reto Estocolmo.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria5.png" alt="Imagen 5" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria6.png" alt="Imagen 6" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4>  INFOTECWebBuilder</h4>
      <h5> 7 Diciembre 2001</h5>
      <br>
      <p>Desarrollamos nuestra propia tecnología de internet: INFOTEC WebBuilder y en este mismo periodo apoyamos a la Oficina de la Presidencia para la Innovación Gubernamental (OPIG) para desarrollar la política pública en el gobierno electrónico.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4> Premio Estocolmo</h4>
      <h5> 14 Diciembre 2004</h5>
      <br>
      <p>Desarrollamos el portal ciudadano con el que ganamos el premio Estocolmo por segunda vez con la Plataforma de Servicios Ciudadana.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria7.png" alt="Imagen 1" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria8.png" alt="Imagen 2" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Premio Innova</h4>
      <h5> 25 Junio 2005</h5>
      <br>
      <p>El Sistema Estratégico Datatur, desarrollado por nosotros, fue reconocido con el Premio Innova.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4> Finalista Premio Reto Estocolmo</h4>
      <h5> 23 Enero 2006</h5>
      <br>
      <p>Nuestro diseño de la Estrategia de Gobierno Digital fue finalista para el Premio Reto Estocolmo.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria9.png" alt="Imagen 3" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria10.png" alt="Imagen 4" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> e-Gobierno en México</h4>
      <h5> 30 Junio 2007</h5>
      <br>
      <p>Fuimos reconocidos dentro de la Expo-Foro por la Cámara de Diputados, debido a su plataforma WebBuilder, como uno de los proyectos exitosos que ha contribuido al desarrollo del e-Gobierno en México.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4> Maestría MDETIC</h4>
      <h5> 17 Julio 2007</h5>
      <br>
      <p>Creamos la Maestría en Dirección Estratégica en TIC (MDETIC) y es presentada como caso de éxito.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria11.png" alt="Imagen 5" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria12.png" alt="Imagen 6" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Portal del Empleo</h4>
      <h5> 20 Enero 2008</h5>
      <br>
      <p>Liberamos el portal del empleo. Ponemos en marcha las mejores prácticas en administración de TI (ITILv2).</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4> IMPI</h4>
      <h5> 11 Febrero 2008</h5>
      <br>
      <p>Desarrollamos el servicio integral del Instituto Mexicano de la Propiedad Intelectual - IMPI.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria13.png" alt="Imagen 1" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria14.png" alt="Imagen 2" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Semantic Web Builder</h4>
      <h5> 11 Enero 2009</h5>
      <br>
      <p>Generamos Semantic Web Builder, conocido como el SWB, como una solución semántica para mejorar el desempeño en la red. En este año, INFOTEC desarrolló y lanzó una nueva herramienta: SemanticWebBuilder, un sistema de gestión de contenidos (content management system) que actualmente ofrece en forma gratuita para desarrollar y administrar portales de internet con tecnología semántica.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4> Maestría MGITIC</h4>
      <h5> 16 Febrero 2009</h5>
      <br>
      <p>Creamos la Maestría en Gestión de la Innovación en TIC (MGITIC) y abrimos líneas de investigación.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria15.png" alt="Imagen 3" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria16.png" alt="Imagen 4" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Centro de datos de la SCT</h4>
      <h5> 24 Marzo 2009</h5>
      <br>
      <p>Consolidamos el centro de datos de la Secretaría de Comunicaciones y Transportes mediante virtualización.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4> Secretaría de Salud</h4>
      <h5> 27 Abril 2009</h5>
      <br>
      <p>Desarrollamos el servicio integral de la Secretaría de Salud.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria17.png" alt="Imagen 5" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria18.png" alt="Imagen 6" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Modelo de valor DADT</h4>
      <h5> 12 Mayo 2009</h5>
      <br>
      <p>Creamos el modelo de gobernabilidad y valor, a través del cual se definen los servicios integrales en TIC que Infotec ofrece. Dicho modelo considera un enfoque estratégico, táctico, metodológico y de gobernabilidad, logrando que funcione como un engrane.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4> Gobiernos Locales Digitales</h4>
      <h5> 6 Enero 2010</h5>
      <br>
      <p>Creamos el proyecto Gobiernos Locales Digitales para fortalecer los servicios prestados por los gobiernos municipales, haciendo uso de herramientas tecnológicas que permitan la comunicación y colaboración directa con los ciudadanos en los ámbitos local y regional.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria19.png" alt="Imagen 1" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria20.png" alt="Imagen 2" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Inauguración de la sede Infotec Aguascalientes</h4>
      <h5> 1 Noviembre 2013</h5>
      <br>
      <p>Se inaugura la segunda sede de Infotec, ubicada en el estado de Aguascalientes. Ésta se integra de dos edificios, el primero destinado a la investigación, docencia y laboratorios de internet del futuro; el segundo, un Centro de Datos certificado en el nivel TIER III del Uptime Institute, el cual garantiza que, el 99.83% del tiempo, hay disponibilidad.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4> Metodología TSP</h4>
      <h5> 30 Diciembre 2013</h5>
      <br>
      <p>Implementamos la metodología de calidad Team Software Process – TSP, con la certificación de 3 coaches en nuestra Institución.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria21.png" alt="Imagen 3" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria22.png" alt="Imagen 4" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Data Center del año</h4>
      <h5> 18 Enero 2014</h5>
      <br>
      <p>El centro de datos de nuestra sede ciudad de México, fue galardonado por los DataCenter Dynamics Awards con el premio “Liderazgo en el sector público” y el “Reconocimiento especial al equipo Data Center del año”.

        El 12 de junio de 2014 modificamos el contrato constitutivo, y cambia nuestra denominación social a INFOTEC Centro de Investigación e Innovación en Tecnologías de la Información y Comunicación.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4> Infotec 2014</h4>
      <h5> 12 Junio 2014</h5>
      <br>
      <p>El 12 de junio de 2014 modificamos el contrato constitutivo, y cambia nuestra denominación social a INFOTEC Centro de Investigación e Innovación en Tecnologías de la Información y Comunicación.</p>
    </div>
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria23.png" alt="Imagen 5" class="img-fluid">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/imgHistoria/imgHistoria24.png" alt="Imagen 6" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h4> Infotec, recibe un reconocimiento de la Presidencia de la República, por su apoyo en el proyecto Justicia Cotidiana.</h4>
      <h5> 27 Abril 2015</h5>
      <br>
      <p>El Portal Justicia Cotidiana es impulsado por el CIDE, en colaboración con diferentes organizaciones públicas y de la sociedad civil. Infotec contribuyó a desarrollar la plataforma web, desde la cual los ciudadanos pueden mandar testimonios y proponer alternativas de solución a injusticias cotidianas que afectan a todos los mexicanos.</p>
    </div>
  </div>
  <br>
  <br>
</div>

 
