* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container-fluid{
    background-color: rgb(190, 97, 64);
  }
  /* Style the content */
  .content {
    background-color: #ffffff;
    padding: 0px;
    height: 150px; /* Should be removed. Only for demonstration */
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .imagen{
    background: #e8e8e8;
  }
