* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container-fluid{
    background-color: rgb(238, 135, 25);
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .imagen{
    background: #e8e8e8;
  }

  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 0px;
  }
 img, li, button{
    margin: 0px 0px 0px 18px;
  }
