<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body >
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="../assets/IMGinfotec.png" alt="" height="130px" >
          <a class="navbar-brand" href="https://www.infotec.mx/">  Centro de Investigación INFOTEC</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">Acera de Infotec</a>
              </li>
            </ul>
            <div class="button-container">
              <button id="button" type="button" class="btn btn-primary btn-lg " routerLink="/login"  >Iniciar sesión</button>
              <button id="button" type="button" class="btn btn-secondary btn-lg" routerLink="/registro"  >Registrarte</button>
  
            </div>
           
          </div>
        </div>
      </nav>
    <div class="container text-center">
  <div class="row" height="194">
    <div class="col">
      <br><br>
      <h2>Hola Bienveido a INFOTEC</h2>
      <p>Conoce nuestros modelos de Tecnicas.</p>
    </div>
  </div><br>
  <div class="row">
    <div class="col col-6" height="350">
      <h3>Selecciòn de reclutamiento con:</h3>
      <br>
      <h4>Pruebas Tecnicas</h4>
      <p>
        Las pruebas técnicas en el proceso de reclutamiento son evaluaciones diseñadas específicamente para medir las habilidades y conocimientos técnicos de los candidatos en relación con el puesto que están solicitando. </p>
      <br>
      <h4>Prebas psicométricas</h4> 
      <p>Las pruebas psicométricas en el proceso de reclutamiento son evaluaciones diseñadas para medir características psicológicas y habilidades cognitivas de los candidatos, con el objetivo de obtener información objetiva sobre su personalidad, aptitudes y competencias relevantes para el puesto.</p>
      <button type="button" class="btn btn-primary btn-lg" routerLink="/login" >Empezar pruebas</button>
    
    </div>  
    <div class="col col-6">
      <img src="../assets/iniciopag.png" alt="" height="550">
    </div>
  </div>
  </div>
  <hr>
    <div class="imagen">
      <h4 class="text-center">Dar soluciones para mejorar nuestro entorno de trabajo</h4>
      <br>
      <div class="container text-center">
        <div class="row row-col-6">
         
          <div class="col"><img src="../assets/img3.png" alt="" height="194"></div>
          <div class="col"><img src="../assets/img4.png" alt=""  height="194"></div>
          <div class="col"><img src="../assets/img5.png" alt="" height=""></div>
        </div><br>
      </div>
    </div>
    <br>
    <div class="recursos">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-card-checklist"></i>
              <h5 class="card-title">Evaluación justa y objetiva</h5>
              <p class="card-text">En nuestro proceso de selección, valoramos la equidad y objetividad al evaluar
                 a nuestros candidatos. Las pruebas psicométricas y técnicas nos permiten medir tus habilidades y 
                 competencias de forma imparcial.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-file-earmark-text-fill"></i>
              <h5 class="card-title">Oportunidad para destacar</h5>
              <p class="card-text">Las pruebas psicométricas y técnicas son una excelente oportunidad para que muestres
                 tus habilidades y conocimientos de una manera estructurada. Queremos brindarte la posibilidad de destacar 
                 tus fortalezas y habilidades técnicas específicas.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-search"></i>
              <h5 class="card-title">Transparencia en el proceso de selección</h5>
              <p class="card-text">Queremos que conozcas todo el proceso de selección y cómo se utilizarán los resultados de 
                las pruebas. Los resultados serán considerados junto con otras evaluaciones, como entrevistas y referencias,
                 para tomar decisiones informadas y justas. .</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-person-vcard-fill" height="190px"></i>
              <h5 class="card-title">Información valiosa para el candidato</h5>
              <p class="card-text">Los resultados de las pruebas te proporcionarán información valiosa sobre tus habilidades y 
                áreas de mejora. Esto te permitirá tener una mejor comprensión de tus fortalezas y te ayudará en tu desarrollo profesional.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <br>
    <div class="redes">
       <footer class="footer bg-light">
    <div class="container">
    <div class="row">
        <div class="col">
       
        </div>
        <div class="col">
        <ul class="list-inline text-end"> <h5>Síguenos en redes sociales:</h5>
            <li class="list-inline-item">
            <a href="https://twitter.com/InfotecMexico" target="_blank" >
                <i class="bi bi-twitter" ></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://www.facebook.com/INFOTECMexico" target="_blank">
                <i class="bi bi-facebook bi-lg"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://www.youtube.com/user/InfotecMexico/videos" target="_blank">
                <i class="bi bi-youtube bi-3x"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/infotec-mexico/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
            </li>
        </ul>
        </div>
    </div>
    </div>

</footer>
    </div>
 
</body>

</html>

<router-outlet></router-outlet>
