<div class="center">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center">Ser Honesto con sus preguntas</h2>
        <p class="text-center">Por favor, responda las siguientes preguntas con honestidad:</p>
        <ol>
        <li>no recargue la pagina en ningun momento si ha comenzado la prueba</li>
        <li>Por favor No investigue en internet las pruebas</li>
        <li>Responda las preguntas con paciencia</li>
        <!-- Agrega más preguntas aquí -->
        </ol>
        <button class="btn btn-primary" (click)="goToNextComponent()">Ir al siguiente componente</button>
    </div>
</div>


