<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="../assets/IMGinfotec.png" alt="" height="130px" >
      <a class="navbar-brand" href="https://www.infotec.mx/">  Centro de Investigación INFOTEC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/perfil">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Acera de Infotec</a>
          </li>
        </ul>
        <div class="button-container">
          <button id="button" type="button" class="btn btn-primary btn-lg " routerLink="/inicio"  >HOME</button>
        </div>
      </div>
    </div>
  </nav>
<div class="container">
   <div>
    <h1 style="text-align: center;">TEST PSICOMETRICO </h1>
   </div> 
    
    
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">1. ¿Cómo te describirías en términos de sociabilidad?</h5>
                <div class="options">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="option1a" value="a">
                    <label class="form-check-label option-label" for="option1a">a) Extrovertido/a y sociable</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="option1b" value="b">
                    <label class="form-check-label option-label" for="option1b">b) Introvertido/a y reservado/a</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="option1c" value="c">
                    <label class="form-check-label option-label" for="option1c">c) Ambos dependiendo de la situación</label>
                  </div>
                </div>
              </div>
            </div>
          </div>          
      <br>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pregunta 2:</h5>
            <p class="card-text">¿Cómo te enfrentas a los desafíos?</p>
            <div class="options">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="option1" value="a">
                <label class="form-check-label" for="option1d">a) Me gusta asumir desafíos y resolver problemas</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="option6" value="b">
                <label class="form-check-label" for="option1f">b) Prefiero evitar los desafíos y situaciones complicadas</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="option7" value="c">
                <label class="form-check-label" for="option1g">c) Me adapto según el desafío y mi nivel de confianza</label>
              </div>
            </div>
          </div>
        </div>
      </div>
           
    </div>
      <br>
         <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 3:</h5>
                <p class="card-text">¿Qué tipo de actividades prefieres en tu tiempo libre?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option10" name="question3" value="a">
                    <label class="form-check-label" for="option10">a) Estar rodeado/a de amigos y participar en actividades sociales</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option11" name="question3" value="b">
                    <label class="form-check-label" for="option11">b) Disfrutar de tiempo a solas o realizar actividades tranquilas</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option12" name="question3" value="c">
                    <label class="form-check-label" for="option12">c) Alternar entre actividades sociales y tiempo a solas</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
                    
        <br>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pregunta 4:</h5>
              <p class="card-text">¿Cómo te sientes acerca de tomar decisiones importantes?</p>
              <div class="options">
                <div class="form-check">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option14" name="question4" value="c">
                    <label class="form-check-label" for="option14">a) Me gusta tomar decisiones y confío en mi juicio</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option15" name="question4" value="b">
                    <label class="form-check-label" for="option15">b) Me cuesta tomar decisiones y prefiero que otros decidan por mí</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option16" name="question4" value="a">
                    <label class="form-check-label" for="option16">c) Tomo decisiones según la situación y la información disponible</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
               
        <br>
         </div><br>
        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 5:</h5>
                <p class="card-text">¿Qué rol prefieres en un equipo de trabajo?</p>
                <div class="options">
                  <div class="form-check">
                    <div class="option">
                      <input class="form-check-input" type="radio" id="option10" name="question5" value="b">
                      <label class="form-check-label" for="option10">a) Líder o alguien que toma la iniciativa</label>
                    </div>
                    <div class="option">
                      <input class="form-check-input" type="radio" id="option11" name="question5" value="c">
                      <label class="form-check-label" for="option11">b) Miembro del equipo que colabora y sigue instrucciones</label>
                    </div>
                    <div class="option">
                      <input class="form-check-input" type="radio" id="option12" name="question5" value="a">
                      <label class="form-check-label" for="option12">c) Puedo adaptarme según las necesidades y habilidades del equipo</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        <br>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pregunta 6:</h5>
              <p class="card-text">¿Cómo manejas el estrés?</p>
              <div class="options">
                <div class="form-check">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option14" name="question6" value="b">
                    <label class="form-check-label" for="option14">a) Me motiva y me desempeño mejor bajo presión</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option15" name="question6" value="c">
                    <label class="form-check-label" for="option15">b) Me siento abrumado/a y me cuesta lidiar con el estrés</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option16" name="question6" value="a">
                    <label class="form-check-label" for="option16">c) Puedo manejar el estrés de manera efectiva en la mayoría de las situaciones</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
        </div><br>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 7:</h5>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option10" name="question7" value="b">
                    <label class="form-check-label" for="option10">a) Trabajar en un ambiente dinámico y con interacción constante</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option11" name="question7" value="c">
                    <label class="form-check-label" for="option11">b) Tener un ambiente tranquilo y sin muchas distracciones</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option12" name="question7" value="a">
                    <label class="form-check-label" for="option12">c) Un ambiente equilibrado que permita la colaboración y también la concentración individual</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <br>
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 8:</h5>
                <p class="card-text">¿Cómo te relacionas con nuevas personas?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option14" name="question8" value="c">
                    <label class="form-check-label" for="option14">a) Me siento cómodo/a y disfruto conociendo gente nueva</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option15" name="question8" value="b">
                    <label class="form-check-label" for="option15">b) Soy más reservado/a y me toma tiempo abrirme a nuevas personas</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option16" name="question8" value="a">
                    <label class="form-check-label" for="option16">c) Me adapto a cada situación y me relaciono de manera adecuada</label>
                  </div>
                </div>
              </div>
            </div>
          </div>          

        </div>
        
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 9:</h5>
                <p class="card-text">¿Prefieres seguir una rutina establecida o tener flexibilidad en tu día a día?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option10" name="question9" value="c">
                    <label class="form-check-label" for="option10">a) Me gusta seguir una rutina establecida y tener un horario planificado</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option11" name="question9" value="b">
                    <label class="form-check-label" for="option11">b) Prefiero tener flexibilidad y adaptarme según las necesidades</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option12" name="question9" value="a">
                    <label class="form-check-label" for="option12">c) Me siento cómodo/a con una combinación de rutina y flexibilidad</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 10:</h5>
                <p class="card-text">¿Cómo te sientes acerca de los cambios inesperados?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option14" name="question10" value="c">
                    <label class="form-check-label" for="option14">a) Me gusta la novedad y me adapto rápidamente a los cambios</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option15" name="question10" value="b">
                    <label class="form-check-label" for="option15">b) Los cambios me generan ansiedad y prefiero la estabilidad</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option16" name="question10" value="a">
                    <label class="form-check-label" for="option16">c) Puedo adaptarme a los cambios dependiendo de la situación</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div><br>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 11:</h5>
                <p class="card-text">¿Cómo te relacionas con las normas establecidas?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option10" name="question11" value="b">
                    <label class="form-check-label" for="option10">a) Tiendo a seguir las normas establecidas y las considero importantes</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option11" name="question11" value="c">
                    <label class="form-check-label" for="option11">b) A veces me cuestiono las normas y puedo desviarme de ellas</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option12" name="question11" value="a">
                    <label class="form-check-label" for="option12">c) Sigo las normas si considero que son razonables y beneficiosas</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 12:</h5>
                <p class="card-text">¿Qué tipo de aprendizaje prefieres?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option14" name="question12" value="b">
                    <label class="form-check-label" for="option14">a) Aprender de forma práctica y experimentando directamente</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option15" name="question12" value="c">
                    <label class="form-check-label" for="option15">b) Aprender a través de la observación y la teoría</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option16" name="question12" value="a">
                    <label class="form-check-label" for="option16">c) Me adapto a diferentes estilos de aprendizaje según la situación</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div><br>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 13:</h5>
                <p class="card-text">¿Cómo te sientes acerca de los riesgos?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option10" name="question13" value="b">
                    <label class="form-check-label" for="option10">a) Me gusta correr riesgos y probar cosas nuevas</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option11" name="question13" value="c">
                    <label class="form-check-label" for="option11">b) Prefiero evitar los riesgos y mantenerme en mi zona de confort</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option12" name="question13" value="a">
                    <label class="form-check-label" for="option12">c) Evalúo los riesgos y tomo decisiones en consecuencia</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pregunta 14:</h5>
                <p class="card-text">¿Cómo manejas los conflictos?</p>
                <div class="options">
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option14" name="question14" value="c">
                    <label class="form-check-label" for="option14">a) Me siento cómodo/a abordando los conflictos y buscando soluciones</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option15" name="question14" value="b">
                    <label class="form-check-label" for="option15">b) Evito los conflictos y prefiero mantener la paz</label>
                  </div>
                  <div class="option">
                    <input class="form-check-input" type="radio" id="option16" name="question14" value="a">
                    <label class="form-check-label" for="option16">c) Trato los conflictos según la situación y la importancia del problema</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <br><br><br>
        <button type="submit" class="btn btn-primary" id="button" style="width: 50%;" (click)="enviarFormulario()" >Enviar respuestas</button>
      </form><br><br><br>
    </div>



  