<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            <li class="nav-item">
                <a class="nav-link" routerLink="/listas">Lista de Usuarios</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/encuestas">Crear Test Tecnicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buscar">Ver test Tecnicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crearpsicometrico">Crear test Psicometrico </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buscarP">Buscar Test creados Psicometricos  |</a>
          </li>
        </ul>
        <div class="button-container">
          <button id="button" type="button" class="btn btn-primary btn-lg "  (click)="logout()" >Logout</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>Lista de Usuarios</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>apellido</th>
          <th>Email</th>
          <th>Ocupacion</th>
     
          <th>Actualizar Usuario</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.idUsuario}}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.correoElectronico }}</td>
          <td>{{ usuario.ocupacion }}</td>
          <td><button type="button" class="btn btn-secondary" (click)="cargarUsuario(usuario.idUsuario)">Actualizar Usuario</button></td>
          <td><button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario.idUsuario)">Eliminar Usuario</button></td>
        </tr>
      </tbody>
    </table>
    <form id="form1" name="form1" #myForm="ngForm">
        <div class="form-group" >
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="usuarioData.nombre" name="first" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellidos:</label>
            <input type="text" id="nombre" name="apellido" class="form-control" [(ngModel)]="usuarioData.apellido" name="second" required>
          </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email"  name="email" class="form-control" [(ngModel)]="usuarioData.correoElectronico" name="third" required>
        </div>
        <div class="form-group">
          <label for="registroGenero" class="form-label">¿Estas seguro de cambiar tu genero {{usuarioData.genero}}?</label>
                      <select class="form-select" id="registroProfesion"  [(ngModel)]="usuarioData.genero" name="eighth" required #eighth="ngModel">
                        <option value="" selected disabled>Selecciona tu genero</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                      </select>
        </div>        
          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="number" id="edad"  name="edad" class="form-control" [(ngModel)]="usuarioData.edad" name="fifth" required>
          </div>
          <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input class="form-control" type="number" id="telefono" name="telefono" [(ngModel)]="usuarioData.telefono" name="sixth">
          </div>
          <div class="form-group">
            <label for="ocupacion">Ocupacion:</label>
            <input type="text" id="email"  name="genero" class="form-control" [(ngModel)]="usuarioData.ocupacion" name="seventh" required>
          </div><br>
        <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="modificarUsuario()" >Guardar</button>
      </form>
      
  </div>
  
  <div class="container mt-4">
    <div class="row">
            <!-- Primer div a la izquierda -->
      <div class="col-md-6 float-left">
        <div class="card2">
          <h4> Test Psicometrico del usuario </h4> 
          <div class="card-header" *ngIf="usuarioSeleccionado">
            
          </div>
          <div class="card-body">
            <ng-container *ngIf="tesps && tesps.length > 0; else noTespTests">
              <ul class="list-group">
                <li *ngFor="let tesp of tesps" class="list-group-item">
                  <h5 class="mb-1">{{ tesp.nombreTest }}</h5>
                  <p class="mb-1">Puntaje: {{ tesp.puntaje }}</p>
                  <p class="mb-0">Descripción: {{ tesp.descripcion }}</p>
                  <hr>
                  <button class="btn btn-danger" (click)="borrarTestP(tesp, usuarioData.idUsuario)">Borrar Test del usuario</button>
                </li>
              </ul>
            </ng-container>
            <ng-template #noTespTests>
              <h1>No se han realizado test Psicometricos o se han borrado.</h1>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- Segundo div a la derecha -->
      <div class="col-md-6 float-right">
        <div class="card3">
          <div class="card-header">
            <h4> Test Técnico del usuario </h4> 
          </div>
          <div class="card-body">
            <ng-container *ngIf="tests && tests.length > 0; else noTests">
              <ul class="list-group">
                <li *ngFor="let test of tests" class="list-group-item">
                  <h5 class="mb-1">{{ test.nombreTest }}</h5>
                  <p class="mb-1">Puntaje: {{ test.puntaje }}</p>
                  <p class="mb-0">Descripción: {{ test.descripcion }}</p> <hr>
                  <button class="btn btn-danger" (click)="borrarTestt(test, usuarioData.idUsuario)">Borrar Test del usuario</button>
                </li>
              </ul>
            </ng-container>
            <ng-template #noTests>
              <h1>No se han realizado test Técnico o se han borrado.</h1>
            </ng-template>
          </div><br>
        </div>
      </div>

      <br>
    </div>
  </div><br><br><br>